.signupPage {
 margin: 60px 0 40px 0;
 font-family: 'Noto Serif JP', sans-serif;
}
.header {
  margin-bottom: 20px;
}
.text-center {
  margin-top: 30px;
  .signupBtn {
    padding: 5px 10px;
    border-radius: 10%;
  }
}