<% if user_signed_in? %>
  <% if post_image.favorited_by?(current_user) %>
    <%= link_to post_image_favorites_path(post_image_id: post_image.id), method: :delete do %>
      <span class="fas fa-heart" aria-hidden="true" style="color: red;">
        <%= post_image.favorites.count %>
      </span>
    <% end %>
  <% else %>
    <%= link_to post_image_favorites_path(post_image_id: post_image.id), method: :post do %>
      <span class="far fa-heart" aria-hidden="true">
        <%= post_image.favorites.count %>
      </span>
    <% end %>
  <% end %>
<% end %>