<% @user ||= current_user %>
<span class="stats_follower">
  <%= link_to followers_user_path(@user) do %>
    フォロワー
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    人
  <% end %>
</span>
<span class="stats_follow">
  <%= link_to following_user_path(@user) do %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    人をフォロー中
  <% end %>
</span>