<% @user ||= current_user %>
<span class="stats_follower">
  <a href="<%= followers_user_path(@user) %>" >
    フォロワー
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    人
  </a>
</span>
<span class="stats_follow">
  <a href="<%= following_user_path(@user) %>" >
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    人をフォロー中
  </a>
</span>