
<div class="message">
  <span class="messagePartner"><%= image_tag chat_message.user.img_name.url(:thumb), class: "messagePartner_img" %></span>
  <span><%= chat_message.user.name %>:</span><div class="commonMessage"><div><%= chat_message.message %></div></div>
</div>

  
