/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* library */
 @import "bootstrap";
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 // slick
 @import "slick-theme";
 @import "slick";
 
 /* pages */
 @import "top";
 @import "registrations/new";
 @import "registrations/edit";
 @import "passwords/new";
 @import "sessions/new";
 @import "post_images/new";
 @import "post_images/index";
 @import "post_images/show";
 @import "users/show";
 @import "users/show_follow";
 @import "users/index";
 @import "chat";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body{
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
  color: #333333;
  &:hover {
    text-decoration: none;
    color: #333333;
  }
}
ul {
  list-style: none;
}
.alert {
  margin-top: 60px;
}
#logo {
 color: #fff;
 font-size: 1.6em;
}
.main_title {
  font-family: 'Noto Serif JP', sans-serif;
}

//user_imageアイコン
.image_round {
 border-radius: 50%;
 height: 40px;
 width: 40px;
 background-size:cover;
 border: 1px solid #ccc;
}

//post_image
.pagination {
 padding-left: 70px;
}

// //slick
.post_image_slider { 
 max-width: 450px;
 margin: 0 auto;
}
.PostImage_image_slider img {
 width: 100%;
}

