/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* library */
 @import "bootstrap";
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 // slick
 @import "slick-theme";
 @import "slick";
 
 /* pages */
 @import "top";
 @import "registrations/new";
 @import "registrations/edit";
 @import "passwords/new";
 @import "sessions/new";
 @import "users/show";
 @import "chat";


// 下から上がってくる要素をブロックする
// floatによる回り込みを防ぐ
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
a {
  text-decoration: none;
  color: #333333;
  &:hover {
    text-decoration: none;
    color: #333333;
  }
}

#logo {
 color: #fff;
 font-size: 1.6em;
}

.main_title {
  font-family: 'Montserrat Subrayada', sans-serif;
}
//user_imageアイコン
.image_round {
 border-radius: 50%;
 height: 40px;
 width: 40px;
 background-size:cover;
}

.PostImage_image_float li {
 display: inline-block;
}

//PostNewPage,userEditpage
.PostNewPage_headline, .userEditpage_headline {
 border-bottom: 8px solid #f7f7f7;
 text-align: center;
 line-height: 0.6;
 margin: 50px 0;
}

//post_image
.post_image_headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.post_image_box {
 width: 500px;
 margin: 0 auto;
}
.post_image_item {
 padding: 25px 0;
 border-bottom: 1px solid #f7f7f7;
}
.post_image {
 float: left;
 &_info {
  float: left;
 }
}
.pagination {
 padding-left: 70px;
}

//user
.user_search {
 width: 300px;
 margin-left: auto;
}
.user_headline {
 border-bottom: 8px solid #f7f7f7;
 text-align: center;
 line-height: 0.6;
}
.user_box {
 width: 500px;
 margin: 0 auto;
}
.user_item {
 padding: 25px 0;
 border-bottom: 1px solid #f7f7f7;
}
.user_image, .user_info {
 float: left;
}

//comment
.comment_box {
 padding: 25px 0;
 border-bottom: 1px solid #f7f7f7;
}
.comment_avatar, .comment_info {
 float: left;
}
//post_image/show
.PostImage_show {
 padding-top: 60px;
}
.PostImage_user {
 display: inline-block;
}
.btn_trash {
 display: inline-block;
 margin-left: 78%;
}

//jquery
.openBtn {
 cursor: pointer;
}
.textArea {
 display: none;
}

// //slick
.PostImage_image_slider { 
 max-width: 600px;
 margin: 0 auto; 
}
.PostImage_image_slider img {
 width: 100%;
}

