<div class="postImageIndex">
  <div class="container">
    <div class="row">
      <h2 class="postImage_headline">Recent Posts</h2>
      <div class="col-md-8 col-sm-offset-2">
        <div class="postImage_box">
          <%= render @post_images %>
          <%= will_paginate @post_images, previous_label: ' &lt 前へ', next_label: '次へ &gt' %>
        </div>
      </div>
    </div>
  </div>
</div>